Daily Briefing Bot.json
{
  "name": "Daily Briefing Bot",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        128,
        0
      ],
      "id": "83021cc6-c894-416c-af34-58a39287c459",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Give me a summary of all the events scheduled today.Along with if I can play pickleball or not and news related to AI. Todays date is {{$now.toFormat('yyyy-MM-dd')}}",
        "options": {
          "systemMessage": "You are a Daily Briefing Orchestration Agent.\n\nYour job is to:\n\nDetermine what information is needed for the user’s daily briefing.\n\nRoute requests to the appropriate tools (e.g., calendar, weather, news).\n\nGather the required information from those tools.\n\nSynthesize the results into a clear, concise morning briefing tailored to the user.\n\nIf the wind is greather than 10 MPH then instead of printing weather at 5 PM just print that this weather is not suited to play pickleball\n\nGuidelines:\n\nAlways call the appropriate tools when information is required.\n\nDo not fabricate data.\n\nIf a tool returns no data, clearly state that section has no updates.\n\nKeep the final response structured and easy to read.\n\nPrioritize calendar events, urgent items, and time-sensitive information.\n\nYour final output should be a well-formatted daily briefing, not raw tool responses.\n\n\nFormat the daily briefing as clean HTML with inline styles \nso it renders properly in email. Use headers, colored sections, \nand bullet points styled with HTML tags, not markdown symbols.Do not wrap the output in markdown code blocks or backticks. \nReturn only raw HTML with no ```html or ``` markers."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "fc4707aa-8ec8-4e2e-b547-41ae3713e16a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "f3734179-e954-444a-95cc-6ae85a53f987",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a7Lx3C2hjRGCq9At",
          "name": "n8nSuryarajCred"
        }
      }
    },
    {
      "parameters": {
        "description": "Call this tool to get Calender events scheduled on that day",
        "workflowId": {
          "__rl": true,
          "value": "09IWGqxrZJq79fbe",
          "mode": "list",
          "cachedResultUrl": "/workflow/09IWGqxrZJq79fbe",
          "cachedResultName": "GetCalenderEvents"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        848,
        288
      ],
      "id": "379934e2-8961-4103-b412-d46a29131d1b",
      "name": "Call 'GetCalenderEvents'"
    },
    {
      "parameters": {
        "description": "Call this tool to get weather information",
        "workflowId": {
          "__rl": true,
          "value": "o1HVYAUXOka0r5jl",
          "mode": "list",
          "cachedResultUrl": "/workflow/o1HVYAUXOka0r5jl",
          "cachedResultName": "GetWeather Workflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        480,
        304
      ],
      "id": "69bd0c72-f38e-4c35-b241-52d19964f8b4",
      "name": "Call 'GetWeather Workflow'"
    },
    {
      "parameters": {
        "description": "Call this tool inorder to get news about AI",
        "workflowId": {
          "__rl": true,
          "value": "ZxopRtMnkN4PSjBD",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZxopRtMnkN4PSjBD",
          "cachedResultName": "GetNews"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        656,
        288
      ],
      "id": "7651939d-baeb-4e08-b2a5-b5072cadfcb5",
      "name": "Call 'GetNews'"
    },
    {
      "parameters": {
        "sendTo": "suryamachani23562@gmail.com",
        "subject": "Daily Briefing",
        "message": "={{ $json.output }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        880,
        0
      ],
      "id": "abdb0790-3e29-4746-b706-27a78ed38cfa",
      "name": "Send a message",
      "webhookId": "62737f1a-7877-4242-831b-82f6e26327ba",
      "credentials": {
        "gmailOAuth2": {
          "id": "aLaZihmMS0m4NjGs",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GetCalenderEvents'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GetWeather Workflow'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Call 'GetNews'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "dfd110fe-5bd2-4eed-ba3c-a2bc9178a03c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2db2abcc32cbbb9e9c5dd0176dcb6a5fbd3adaf42f92caf472bf17f9484b7921"
  },
  "id": "k3hBg9W5IRTYybaf",
  "tags": []
}